In [1]:
import pandas as pd

In [3]:
obj= pd.Series([4,5,6,7])

In [4]:
obj

0    4
1    5
2    6
3    7
dtype: int64

In [6]:
type(obj)

pandas.core.series.Series

In [10]:
Sales =pd.Series([100,200,400,600])

In [11]:
Sales

0    100
1    200
2    400
3    600
dtype: int64

In [14]:
print(Sales.values)

[100 200 400 600]

In [17]:
print(Sales.index)

RangeIndex(start=0, stop=4, step=1)

In [19]:
Earning =pd.Series(data=[100,200,400,600],index=['a','b','c','d'])

In [20]:
Earning

a    100
b    200
c    400
d    600
dtype: int64

In [21]:
sale=pd.Series([1,100,200,300],['a','b','c','d'])

In [22]:
sale

a      1
b    100
c    200
d    300
dtype: int64

In [30]:
Salary=pd.Series([50000,55000,600000,100000],['Jan','Feb','Mar','Apr'], name="Salary")

In [31]:
Salary

Jan     50000
Feb     55000
Mar    600000
Apr    100000
Name: Salary, dtype: int64

In [32]:
Salary.index

Index(['Jan', 'Feb', 'Mar', 'Apr'], dtype='object')

In [33]:
Salary.values

array([ 50000,  55000, 600000, 100000], dtype=int64)

In [37]:
print(Salary.name)

Salary

In [38]:
Salary.name

'Salary'

# Sandwitches

In [39]:
sw=pd.Series([20,30,35,36,40,37,38], index=['Mon','Tues','Wed','Thur','Fri','Sat','Sun'])

In [40]:
sw

Mon     20
Tues    30
Wed     35
Thur    36
Fri     40
Sat     37
Sun     38
dtype: int64

In [8]:
import datetime as dt

In [3]:
from datetime import datetime

In [5]:
from datetime import date
today = str(date.today())
print(today)

2019-11-14

In [9]:
today= dt.date.today()

In [10]:
today

datetime.date(2019, 11, 14)