In [1]:
# how to access data stored in series of pandas

In [2]:
import pandas as pd

In [3]:
nic = pd.Series([4250145920147,425014589,4589632147,44458222863],index=['Ghulam Qadir','Afzal','Sunny','naeem'])

In [4]:
nic[1]

425014589

In [5]:
nic['Ghulam Qadir']

4250145920147

In [6]:
nic['naeem']

44458222863

In [7]:
nic[[1,0]]

Afzal               425014589
Ghulam Qadir    4250145920147
dtype: int64

In [8]:
nic[['naeem','Afzal']]

naeem    44458222863
Afzal      425014589
dtype: int64

In [9]:
type(nic)

pandas.core.series.Series

In [10]:
nic[:3]

Ghulam Qadir    4250145920147
Afzal               425014589
Sunny              4589632147
dtype: int64

In [11]:
nic

Ghulam Qadir    4250145920147
Afzal               425014589
Sunny              4589632147
naeem             44458222863
dtype: int64

In [12]:
nic[0:1]

Ghulam Qadir    4250145920147
dtype: int64

In [13]:
nic[-1]

44458222863

In [14]:
nic[:-1]

Ghulam Qadir    4250145920147
Afzal               425014589
Sunny              4589632147
dtype: int64

In [15]:
ages = pd.Series([20,25,30,35,31,37],index=['Bilal','Naeem','Sunny','Ghulam Qadir','Afzal','Khalil'])

In [16]:
ages

Bilal           20
Naeem           25
Sunny           30
Ghulam Qadir    35
Afzal           31
Khalil          37
dtype: int64

In [19]:
ages[[0,1]]

Bilal    20
Naeem    25
dtype: int64

In [20]:
ages[ages>25]

Sunny           30
Ghulam Qadir    35
Afzal           31
Khalil          37
dtype: int64

In [21]:
ages['Naeem']

25

In [22]:
#operations on pandas series (Video 8)
ages*ages

Bilal            400
Naeem            625
Sunny            900
Ghulam Qadir    1225
Afzal            961
Khalil          1369
dtype: int64

In [23]:
ages

Bilal           20
Naeem           25
Sunny           30
Ghulam Qadir    35
Afzal           31
Khalil          37
dtype: int64

In [24]:
age=ages*2

In [25]:
age

Bilal           40
Naeem           50
Sunny           60
Ghulam Qadir    70
Afzal           62
Khalil          74
dtype: int64

In [26]:
ages

Bilal           20
Naeem           25
Sunny           30
Ghulam Qadir    35
Afzal           31
Khalil          37
dtype: int64

In [27]:
'Bilal' in ages

True

In [28]:
20 in ages

False

In [29]:
type(20 in ages)

bool

In [30]:
30 in ages

False

In [31]:
'30' in ages

False

In [32]:
# if data is already available in array type variable or 

nicNo=np.array([4250145920147,4250154545511,4250145920148])
nicName=np.array(['Ghulam Qadir','Abdul Razak','Khalil'])

NameError: name 'np' is not defined

In [33]:
import numpy as np

nicNo=np.array([4250145920147,4250154545511,4250145920148])
nicName=np.array(['Ghulam Qadir','Abdul Razak','Khalil'])

In [36]:
nics=pd.Series(nicNo,index=nicName)

In [37]:
nics

Ghulam Qadir    4250145920147
Abdul Razak     4250154545511
Khalil          4250145920148
dtype: int64

In [38]:
nic2=pd.Series(nicName,index=nicNo)

In [39]:
nic2

4250145920147    Ghulam Qadir
4250154545511     Abdul Razak
4250145920148          Khalil
dtype: object

In [40]:
nic2.index

Int64Index([4250145920147, 4250154545511, 4250145920148], dtype='int64')

In [41]:
nic2.values

array(['Ghulam Qadir', 'Abdul Razak', 'Khalil'], dtype=object)

In [42]:
dictt={'afzal':42501,'sunny':12345,'Namee':565656}
NewNic=pd.Series(dictt)

In [43]:
NewNic

afzal     42501
sunny     12345
Namee    565656
dtype: int64

In [44]:
NewNic.index

Index(['afzal', 'sunny', 'Namee'], dtype='object')

In [45]:
NewNic.values

array([ 42501,  12345, 565656], dtype=int64)

In [46]:
# we can re-arrange our index sequence 
NewNic2=pd.Series(dictt,index=['Naeem','Sunny','afzal'])

In [47]:
NewNic2

Naeem        NaN
Sunny        NaN
afzal    42501.0
dtype: float64

In [48]:
dictt

{'afzal': 42501, 'sunny': 12345, 'Namee': 565656}

In [53]:
NewNic3=pd.Series(dictt,index=['Namee','sunny','afzal','Naeem','Sunny','afzal'])

In [54]:
NewNic3

Namee    565656.0
sunny     12345.0
afzal     42501.0
Naeem         NaN
Sunny         NaN
afzal     42501.0
dtype: float64